.layout {
  width: 85%;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  height: 132px;
  border-bottom: 3px solid black;
  margin-bottom: 35px;
}

.header .logo {
  flex-grow: 2;
  display: flex;
}

.header .logo span {
  display: block;
  font-size: 90px;
  font-weight: bolder;
  margin-top: -6px;
}

.header .logo h3 {
  display: block;
  flex-basis: 40px;
  margin-left: 10px;
  font-weight: 600;
  text-transform: uppercase;
}

.header nav {
  flex-grow: 1;
}

.header nav ul {
  height: 132px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
}

.header li {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 17px;
  margin-left: 15px;
  margin-right: 15px;
}

.header li a {
  color: black;
  text-decoration: none;
  transition: all 300ms;
}

.header .active,
.header a:hover {
  color: #fa4529;
}

.content {
  min-height: 400px;
}

.footer {
  min-height: 40px;
  line-height: 7px;
  text-align: center;
  font-size: 14px;
  margin-top: 80px;
  padding-top: 45px;
  border-top: 3px solid black;
  background-color: #f5f5f5;
  color: #444;
}

.home h1 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 400;
  font-size: 60px;
  margin-bottom: 0px;
  margin-top: 40px;
}

.home strong {
  color: #fa4529;
}

.home h2 {
  color: rgba(70, 67, 67, 0.993);
  font-weight: lighter;
}

.home a {
  background-color: #fa4529;
  border-radius: 5px;
  padding: 7px;
  color: white;
  text-decoration: none;
  transition: all 300ms;
}

.home a:hover {
  background-color: rgb(13, 179, 13);
}

.page .heading,
.home .heading {
  font-size: 35px;
  font-weight: 500;
  color: black;
  margin-bottom: 0px;
}

.page .heading {
  font-size: 55px;
  font-weight: bold;
}

.home p {
  color: rgba(70, 67, 67, 0.993);
}

input[type="text"],
textarea {
  padding: 15px;
  display: block;
  width: 250px;
  margin-top: 25px;
}

input[type="submit"],
button {
  margin-top: 15px;
  font-size: 14px;
  background-color: #fa4529;
  border: 0px;
  border-radius: 5px;
  padding: 15px;
  color: white;
  text-decoration: none;
  transition: all 300ms;
  cursor: pointer;
}

input[type="submit"]:hover,
button:hover {
  background-color: rgb(13, 179, 13);
}

.theme {
  border: none;
  background-color: white;
}

.dark {
  background-color: #1f304e;
  color: white;
}

.dark .home strong {
  color: #fa4529;
}
.dark .home p {
  color: white;
}

.dark .page .heading,
.home .heading {
  color: white;
}

.dark .home a {
  color: white;
}

.dark .header li a {
  color: white;
}
